<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Add to Cart</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td><input type="number" name="quantity" min="1"></td>
        <td>
            <form th:action="@{/cart/addtocart/{id}(id=${product.id})}" method="post">
                <button type="submit">Add to Cart</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/cart/placeorder}" method="post">
    <button type="submit">Place Order</button>
</form>
</body>
</html>
